# Node
node_modules

# Build outputs
.next
build
dist
.expo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Turbo
.turbo

# Expo RN native projects (generated)
apps/mobile/ios/
apps/mobile/android/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
.lh

.DS_Store
.vscode
.idea
*.swp
*.swo
*.swn

*storybook.log
storybook-static
